apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - secret-platform-runtime-inputs.yaml
  - secret-oauth2-proxy.yaml
  - secret-hyperdx.yaml
  - secret-clickstack-runtime-inputs.yaml
replacements:
  - source:
      kind: Secret
      name: platform-runtime-inputs
      fieldPath: stringData.OIDC_CLIENT_ID
    targets:
      - select:
          kind: Secret
          name: oauth2-proxy-secret
          namespace: ingress
        fieldPaths:
          - stringData.client-id
  - source:
      kind: Secret
      name: platform-runtime-inputs
      fieldPath: stringData.OIDC_CLIENT_SECRET
    targets:
      - select:
          kind: Secret
          name: oauth2-proxy-secret
          namespace: ingress
        fieldPaths:
          - stringData.client-secret
  - source:
      kind: Secret
      name: platform-runtime-inputs
      fieldPath: stringData.OAUTH_COOKIE_SECRET
    targets:
      - select:
          kind: Secret
          name: oauth2-proxy-secret
          namespace: ingress
        fieldPaths:
          - stringData.cookie-secret
  - source:
      kind: Secret
      name: platform-runtime-inputs
      fieldPath: stringData.CLICKSTACK_API_KEY
    targets:
      - select:
          kind: Secret
          name: hyperdx-secret
          namespace: logging
        fieldPaths:
          - stringData.HYPERDX_API_KEY
      - select:
          kind: Secret
          name: clickstack-runtime-inputs
          namespace: observability
        fieldPaths:
          - stringData.CLICKSTACK_API_KEY
