apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - secret-oauth2-proxy.yaml
  - secret-hyperdx.yaml
  - secret-clickstack-runtime-inputs.yaml
  - secret-clickstack-bootstrap-inputs.yaml
