# Host dynamic DNS defaults.
# Copy to host/host.env to override locally.
DYNAMIC_DNS_RECORDS="homelab.swhurl.com,*.homelab.swhurl.com"

# Optional override examples:
# DYNAMIC_DNS_RECORDS="homelab.swhurl.com,*.homelab.swhurl.com,api.homelab.swhurl.com"
# AWS_ZONE_ID="Z08316812BZVAZ9D79ZRO"
# AWS_PROFILE="default"
