{{- $email := required "letsencrypt.email is required" .Values.letsencrypt.email -}}
{{- $class := .Values.letsencrypt.ingressClass | default "nginx" -}}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ .Values.letsencrypt.stagingName | default "letsencrypt-staging" | quote }}
  labels:
{{ include "platform-issuers.labels" . | indent 4 }}
spec:
  acme:
    email: {{ $email | quote }}
    server: {{ include "platform-issuers.letsencrypt.stagingServer" . | quote }}
    privateKeySecretRef:
      name: {{ .Values.letsencrypt.stagingAccountKeySecretName | default "acme-account-key-staging" | quote }}
    solvers:
      - http01:
          ingress:
            class: {{ $class | quote }}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ .Values.letsencrypt.prodName | default "letsencrypt-prod" | quote }}
  labels:
{{ include "platform-issuers.labels" . | indent 4 }}
spec:
  acme:
    email: {{ $email | quote }}
    server: {{ include "platform-issuers.letsencrypt.prodServer" . | quote }}
    privateKeySecretRef:
      name: {{ .Values.letsencrypt.prodAccountKeySecretName | default "acme-account-key-prod" | quote }}
    solvers:
      - http01:
          ingress:
            class: {{ $class | quote }}

{{- if (.Values.letsencrypt.createAlias | default true) }}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ .Values.letsencrypt.aliasName | default "letsencrypt" | quote }}
  labels:
{{ include "platform-issuers.labels" . | indent 4 }}
spec:
  acme:
    email: {{ $email | quote }}
    server: {{ include "platform-issuers.letsencrypt.server" . | quote }}
    privateKeySecretRef:
      name: {{ .Values.letsencrypt.aliasAccountKeySecretName | default "acme-account-key" | quote }}
    solvers:
      - http01:
          ingress:
            class: {{ $class | quote }}
{{- end }}
