apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps
resources:
  - ../../base

configMapGenerator:
  - name: hello-params
    literals:
      - host=hello.127.0.0.1.nip.io
      - tlsSecret=hello-web-tls
      - issuerName=selfsigned

replacements:
  - source: {kind: ConfigMap, name: hello-params, fieldPath: data.host}
    targets:
      - select: {kind: Ingress, name: hello-web}
        fieldPaths: [spec.rules.0.host, spec.tls.0.hosts.0]
      - select: {kind: Certificate, name: hello-web}
        fieldPaths: [spec.dnsNames.0]
  - source: {kind: ConfigMap, name: hello-params, fieldPath: data.tlsSecret}
    targets:
      - select: {kind: Ingress, name: hello-web}
        fieldPaths: [spec.tls.0.secretName]
      - select: {kind: Certificate, name: hello-web}
        fieldPaths: [spec.secretName]
  - source: {kind: ConfigMap, name: hello-params, fieldPath: data.issuerName}
    targets:
      - select: {kind: Certificate, name: hello-web}
        fieldPaths: [spec.issuerRef.name]
